<div class='ui-grid-cell-contents cell '>
<div ng-if="row.entity.id">
	<span ng-show="row.entity.documents">
		<button style="background-color:transparent;border:none;" ng-click="grid.appScope.downloadAttachment(row.entity.documents)"><img src='assets/images/attachment.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}' ></button>
	</span>
	<span ng-if="row.entity.documents==null">
		No file
	</span>

	<span ng-if="row.entity.documents==''">
		No file
	</span>
</div>
</div> 