<style>
   
   
</style>

<div class='ui-grid-cell-contents cell '>
   <!--  <button style="background-color:transparent;color:steelblue;border:none;" ng-click="grid.appScope.takeAction(row.entity.id)" ng-show="row.entity.level==1"><img src='assets/icons/check.png' height=16 width=16  ></button>
    <button style="background-color:transparent;color:steelblue;border:none;" ng-click="grid.appScope.takeAction(row.entity.id)" ng-show="row.entity.level==0"><img src='assets/icons/uncheck.png' height=16 width=16  ></button> -->
    <button style="background-color:transparent;color:steelblue;border:none;" ng-click="grid.appScope.grantApproval(row.entity.id)"><img src='assets/icons/check.png' height=16 width=16  ></button>
</div> 