<style type="text/css">
	.disable-action{
		
		opacity: 0.5;
	}
	.disable-action img{
		cursor: not-allowed;
	}
</style>
<div class='ui-grid-cell-contents cell '>
	<div class="disable-action" ng-show="row.entity.status!='addressed'">
		<button style="background-color:transparent;border:none;" ng-click="grid.appScope.action(row.entity.id,'1')" ng-disabled="row.entity.status!='addressed'"><img src='assets/icons/likeUp.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}' ></button>

	    &nbsp;&nbsp;<button style="background-color:white;border:none;margin-top: 2px;" ng-click="action(row.entity.id,'0')" ng-disabled="row.entity.status!='addressed'"><img src='assets/icons/likeDown.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}'></button>
	</div>


	<div ng-show="row.entity.status=='addressed'">
		<button style="background-color:transparent;border:none;" ng-click="grid.appScope.action(row.entity.id,'1')" ng-disabled="row.entity.status!='addressed'"><img src='assets/icons/likeUp.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}' ></button>

	    &nbsp;&nbsp;
	    <button style="background-color:transparent;border:none;margin-top: 2px;" ng-click="grid.appScope.action(row.entity.id,'0')" ng-disabled="row.entity.status!='addressed'"><img src='assets/icons/likeDown.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}' ></button>
	    
	</div>
    
</div> 
