<div class='ui-grid-cell-contents cell ' ng-controller="studentController">
    <button style="background-color:white;border:none;" ng-click="action(row.entity.status)" ng-disabled="!row.entity.status=='resolved'"><img src='assets/icons/likeUp.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}' ></button>

    &nbsp;&nbsp;<button style="background-color:white;border:none;" ng-click="action(row.entity.status)" ng-disabled="!row.entity.status=='resolved'"><img src='assets/icons/likeDown.png' height=16 width=16 value='{{COL_FIELD CUSTOM_FILTERS}}'></button></div> 