<style type="text/css">
	.footerTop{
		background: #344052;
		color: #ddd;
		width: 100%;
	}
	.footerTop ul{
		list-style: none;
		text-align: center;
		margin: 0;
		padding:0.5em;

	}
	.footerTop ul li{
		display: inline-block;
		padding:0 3.2em;
	}
	.footerTop ul li+li{
		border-left: 2px solid #455163;
	}
	.footer{
		padding-left: 0;
		text-align: center;
		background: #404f66;
		color: #bbb;
		font-size: 0.8rem;
		position: fixed;
		bottom: 0px;
		width: 100%;
	}
</style>

<div class="col-md-12 footerTop">
	<ul>
		<li>Terms of use</li>
		<li>Privacy Policy</li>
		<li>Right to Information</li>
		<li>Reports</li>
		<li>Directory</li>
	</ul>
</div>
<div class="col-md-12">
	Copyright © 2019. AICTE, Nelson Mandela Marg, Vasant Kunj, New Delhi -110070
</div>
