body{

}
h1{
	color: #3c3c3c;
	margin-top: 2vw;
	margin-left: 4vw;
}
#row1{
	color: white;
	margin-top: 20vw;
	height: 10vw;
	text-align: center;
}
#row2{
	text-align: center;
	float: center;
	align-content: center;
	margin-left: 15vw;
}
#student{
	background-color: rgb(0,156,223);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	padding: 0px;
	font-size: 1.2vw;
}
#committee{
	background-color: rgb(73,175,95);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	padding: 0px;
	font-size: 1.2vw;
}
#principal{
	background-color: rgb(242,165,35);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	padding: 0px;
	font-size: 1.2vw;
}
#ombudsman{
	background-color: rgb(59,133,189);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	padding: 0px;
	font-size: 1.2vw;
}
#aicte {
	background-color: rgb(251,90,62);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	padding: 0px;
	font-size: 1.2vw;
}
